<template>
    <lightning-card icon-name="custom:custom67">
        <template if:true={user.data}>
            <div class="slds-var-m-around_medium">
                <p>Id: {userId}</p>
                <p>Name: {name}</p>
                <p>
                    <lightning-formatted-email
                        value={email}
                    ></lightning-formatted-email>
                </p>
            </div>
        </template>
    </lightning-card>
</template>